body
{
	width: 780px;
	height: 580px;
	font-family: sans-serif;
	overflow: hidden;
}

a
{
	outline: none;
}

#masterHead {
	position: relative;
	padding-top: 13px;
	z-index: 140;
	height: 37px;
}

#masterHead	.tabs {
	float: left;
}

#masterHead ul {
	margin: 0;
	padding: 0;
	list-style-image: none;
}

#masterHead	.tabs li[checked=true] {
	margin-right: 2px;
	float: left;
	padding: 0;
	width: 160px;
	text-align: center;
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
	padding: 10px;
	cursor: pointer;
	border-radius: 10px 10px 0 0;	
}

#masterHead	.tabs li[checked=false] {
	margin-right: 2px;
	float: left;
	padding: 0;
	width: 160px;
	text-align: center;
	border: 1px solid #ccc;
	padding: 10px;
	cursor: pointer;
	border-radius: 10px 10px 0 0;
	background-color: rgb(241,241,241);
}

#masterHead	.tabs #tab_links {
	width: 140px;
}

#masterHead	.tabs #tab_imagess {
	width: 140px;
}


#masterHead	.tabs li span {
	min-height: 0;
	font: 0.750em/1.4 Helvetica, Arial, Verdana, sans-serif;
	font-weight: bold;
}

#masterHead	.tabs li .count {
	min-height: 0;
	font: 0.750em/1.4 Helvetica, Arial, Verdana, sans-serif;
	margin-left: 5px;
}


#masterMain {
	width: 775px;
	height: 500px;
	position: relative;
	border: 1px solid #ccc;
}


#download_block
{
	position: absolute;
	left: 0px;
	top: 0px;
	clear: both;
	width: 760px;
	height: 420px;
	overflow-x: hidden;
	overflow-y: auto;
	margin-left: 7px;
	margin-top: 7px;
}


.download_head
{
	display: table-cell; 
	clear: both;	
	overflow: hidden;
	cursor: default;
	width: 773px;
	height: 20px;
	background-color: #e1e1e1;
	border-color: black;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
}

.download_head .head_sel
{
	float:left;
	width: 21px;
	height: 26px;
	border-color: black;
	border-style: solid;
	border-width: 0px 1px 0px 0px;
}
.download_head .head_sel .head_all_sel[check="0"]
{
	margin-top: 4px;
	margin-left: 2px;
	width: 16px;
	height: 16px;
	background: url(icons/checks16.png);
	background-position: -16px -32px;
}
.download_head .head_sel .head_all_sel[check="1"]
{
	margin-top: 4px;
	margin-left: 2px;
	width: 16px;
	height: 16px;
	background: url(icons/checks16.png);
	background-position: -0px -16px;
}
.download_head .head_ext
{
	float:left;
	width: 20px;
	height: 26px;
}
.download_head .head_url
{
	float:left;
	width: 430px;
	height: 20px;
	border-color: black;
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	padding: 3px;
	cursor: pointer;
}
.download_head .head_url .sort_url[sort=none]
{
	float:left;
	width:  16px;
	height: 16px;
	padding: 3px;
}
.download_head .head_url .sort_url[sort=asc]
{
	float:left;
	width:  16px;
	height: 16px;
	padding: 3px;
	background: url(icons/sort-ascending.png) no-repeat;
}
.download_head .head_url .sort_url[sort=desc]
{
	float:left;
	width:  16px;
	height: 16px;
	padding: 3px;
	background: url(icons/sort-descending.png) no-repeat;
}
.download_head .head_url .title
{
	float:left;
	width: 400px;
	height: 16px;
	font-family: Arial,Helvetica,SunSans-Regular,Sans-Serif; 
	font-size: 12px;  
	padding: 3px;
	text-align:center;
	position: relative;
}

.download_head .head_descr
{
	float:left;
	width: 180px;
	height: 20px;
	padding: 3px;
	border-color: black;
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	cursor: pointer;
}
.download_head .head_descr .sort_descr[sort=none]
{
	float:left;
	width:  16px;
	height: 16px;
	padding: 3px;
	margin-left:10px;
}
.download_head .head_descr .sort_descr[sort=asc]
{
	float:left;
	width:  16px;
	height: 16px;
	padding: 3px;
	margin-left:10px;
	background: url(icons/sort-ascending.png) no-repeat;
}
.download_head .head_descr .sort_descr[sort=desc]
{
	float:left;
	width:  16px;
	height: 16px;
	padding: 3px;
	margin-left:10px;
	background: url(icons/sort-descending.png) no-repeat;
}

.download_head .head_descr .title
{
	float:left;
	width: 130px;
	height: 16px;
	font-family: Arial,Helvetica,SunSans-Regular,Sans-Serif; 
	font-size: 12px;  
	padding: 3px;
	text-align:center;
}

.download_head .head_size
{
	float:left;
	width: 80px;
	height: 20px;
	padding: 3px;
	border-color: black;
	border-style: solid;
	border-width: 0px 0px 0px 1px;
	cursor: pointer;
	display:none;
}
.download_head .head_size .sort_size[sort=none]
{
	float:left;
	width:  16px;
	height: 16px;
	padding: 3px;
	margin-left:5px;
}
.download_head .head_size .sort_size[sort=asc]
{
	float:left;
	width:  16px;
	height: 16px;
	padding: 3px;
	margin-left:5px;
	background: url(icons/sort-ascending.png) no-repeat;
}
.download_head .head_size .sort_size[sort=desc]
{
	float:left;
	width:  16px;
	height: 16px;
	padding: 3px;
	margin-left:5px;
	background: url(icons/sort-descending.png) no-repeat;
}
.download_head .head_size .title
{
	float:left;
	width: 30px;
	height: 16px;
	font-family: Arial,Helvetica,SunSans-Regular,Sans-Serif; 
	font-size: 12px;  
	padding: 3px;
	text-align:center;
}



div#download_item_container
{
	height: 390px;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 759px;
	border-color: black;
	border-style: solid;
	border-width: 0px 0px 1px 1px;
}


div#download_item_template
{
	display: none;
}

div.download_item
{
	height: 24px;
	display: table; 
	clear: both;	
	overflow: hidden;
	cursor: default;
	width: 750px;
	border-color: black;
	border-style: solid;
	border-width: 0px 1px 1px 1px;
}

div.download_item .info{
	display: table;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-family: Tahoma;
	font-size: 12px;
	width: 740px;
	}

div.download_item .line{
	height: 1px;
	background-color: #00aeef;
	margin-top: 5px;
	margin-left: 30px;
}

div.download_item .item1 
{
	float:left;
	width: 20px;
	height: 24px;
	cursor:pointer; 	
	border-color: black;
	border-style: solid;
	border-width: 0px 1px 0px 0px;
}

div.download_item .item1 .item_sel[check="0"]
{
	margin-left: 2px;
	margin-top: 4px;
	width: 16px;
	height: 16px;
	background: url(icons/checks16.png);
	background-position: -16px -32px;
}

div.download_item .item1 .item_sel[check="1"]
{
	margin-left: 2px;
	margin-top: 4px;
	width: 16px;
	height: 16px;
	background: url(icons/checks16.png);
	background-position: -0px -16px;
}

div.download_item .item1 .item_sel[check="5"]
{
	margin-left: 2px;
	margin-top: 4px;
	width: 16px;
	height: 16px;
	background: url(icons/checks16.png);
	background-position: -32px -48px;
	cursor: default;
}

div.download_item .item2 
{
	float:left;
	width: 451px;
	height: 24px;
	margin-left: 5px;
	cursor:pointer; 	
	border-color: black;
	border-style: solid;
	border-width: 0px 1px 0px 0px;
}

.item_ext
{
	float:left;
	margin-top: 4px;
	width: 16px;
	height: 16px;
}

div.download_item  .item_url
{
	float:left;
	margin-top: 4px;
	margin-left: 5px;
	font-family: Arial,Helvetica,SunSans-Regular,Sans-Serif; 
	font-size: 13px;  
	cursor:pointer; 	
	overflow:hidden;
}

div.download_item .item_url:hover
{
	float:left;
	margin-top: 4px;
	margin-left: 5px;
	font-family: Arial,Helvetica,SunSans-Regular,Sans-Serif; 
	font-size: 13px;  
	cursor:pointer; 	
	font-weight:bold;
	overflow:hidden;
}

div.download_item .item3 
{
	float:left;
	width: 186px;
	height: 24px;
	cursor:pointer; 	
}

div.download_item .item_descr
{
	float:left;
	margin-top: 4px;
	margin-left: 5px;
	font-family: Arial,Helvetica,SunSans-Regular,Sans-Serif; 
	font-size: 12px;  
}

div.download_item .item4
{
	float:left;
	width: 70px;
	height: 24px;
	border-color: black;
	border-style: solid;
	border-width: 0px 0px 0px 1px;
}

div.download_item .item_size
{
	float:left;
	margin-top: 4px;
	margin-left: 5px;
	
	width: 70px;
	height: 24px;
	
	font-family: Arial,Helvetica,SunSans-Regular,Sans-Serif; 
	font-size: 12px;  
}
div.download_item .item_size[loading="1"]
{
	float:left;
	margin-top: 4px;
	margin-left: 5px;
	text-align: center;
	background: url( /images/small_loading.gif ) no-repeat;
	background-position: center center;
}

#downloadButton{
	position: absolute;
	bottom: 5px;
	right: 5px;
	width:150px;
	height:22px;
	background-color: #ff0000;
	border-radius: 15px;
	border: 2px solid #ccc;
	text-align: center;
	cursor: pointer;
	padding-top: 2px;
	color: white;
	font-weight:bold;
}

#downloadButton:hover{
	right: 4px;
	bottom: 4px;
	border: 3px solid #ccc;
	background-color: #ff0000;
}

#downloadButton	.total_count {
	min-height: 0;
	margin-left: 5px;
}


#filter_block
{
	position: absolute;
	bottom: 5px;
	left: 5px;
	clear: both;
	width: 760px;
	height: 60px;
}

#filter_block .box
{
	position: relative;
	width: 100%;
	height: 100%;
}

#filter_block .filter_tab
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display:none;
}

#filter_block .filter_title
{
	position: absolute;
	top: 3px;
	left: 10px;
	font-family: Arial,Helvetica,SunSans-Regular,Sans-Serif; 
	font-size: 12px;  
	font-weight:bold;
}

#filter_block  .filter_tab span
{
	font-family: Arial,Helvetica,SunSans-Regular,Sans-Serif; 
	font-size: 12px;  
	font-weight:bold;
}

/* --------------- Filter  -------------- */
#filter_links .filter_link_all
{
	position: absolute;
	top: 3px;
	left: 110px;
}
#filter_links .filter_link_html
{
	position: absolute;
	top: 3px;
	left: 210px;
}
#filter_links .filter_link_css
{
	position: absolute;
	top: 3px;
	left: 310px;
}
#filter_links .filter_link_js
{
	position: absolute;
	top: 3px;
	left: 410px;
}

#filter_images .filter_image_all
{
	position: absolute;
	top: 3px;
	left: 110px;
}
#filter_images .filter_image_jpg
{
	position: absolute;
	top: 3px;
	left: 210px;
}
#filter_images .filter_image_gif
{
	position: absolute;
	top: 3px;
	left: 310px;
}

#filter_images .filter_image_png
{
	position: absolute;
	top: 3px;
	left: 410px;
}

#filter_images .filter_image_bmp
{
	position: absolute;
	top: 3px;
	left: 510px;
}

#filter_images .filter_image_ico
{
	position: absolute;
	top: 3px;
	left: 610px;
}

#filter_images .flag_image_preview
{
	position: absolute;
	top: 32px;
	left: 10px;
}

#filter_images .filter_image_size
{
	position: absolute;
	top: 30px;
	left: 160px;
}


#filter_docs .filter_file_all
{
	position: absolute;
	top: 3px;
	left: 110px;
}
#filter_docs .filter_file_doc
{
	position: absolute;
	top: 3px;
	left: 210px;
}
#filter_docs .filter_file_xls
{
	position: absolute;
	top: 3px;
	left: 310px;
}

#filter_docs .filter_file_pdf
{
	position: absolute;
	top: 3px;
	left: 410px;
}

#filter_docs .filter_file_exe
{
	position: absolute;
	top: 3px;
	left: 510px;
}

#filter_docs .filter_file_addon
{
	position: absolute;
	top: 3px;
	left: 610px;
}

#filter_docs .filter_file_zip
{
	position: absolute;
	top: 20px;
	left: 110px;
}

#filter_docs .filter_file_rar
{
	position: absolute;
	top: 20px;
	left: 210px;
}

#filter_docs .filter_file_7z
{
	position: absolute;
	top: 20px;
	left: 310px;
}

#filter_docs .filter_file_jar
{
	position: absolute;
	top: 20px;
	left: 410px;
}

#filter_docs .filter_file_tar
{
	position: absolute;
	top: 20px;
	left: 510px;
}

#filter_videos .filter_video_all
{
	position: absolute;
	top: 3px;
	left: 110px;
}

#filter_videos .filter_video_mp4
{
	position: absolute;
	top: 3px;
	left: 210px;
}

#filter_videos .filter_video_flv
{
	position: absolute;
	top: 3px;
	left: 310px;
}

#filter_videos .filter_video_avi
{
	position: absolute;
	top: 3px;
	left: 410px;
}

#filter_videos .filter_video_webm
{
	position: absolute;
	top: 3px;
	left: 510px;
}

#filter_videos .filter_video_3gp
{
	position: absolute;
	top: 3px;
	left: 610px;
}

#filter_videos .filter_video_mov
{
	position: absolute;
	top: 3px;
	left: 710px;
}

#filter_videos .filter_video_mp3
{
	position: absolute;
	top: 20px;
	left: 110px;
}

#filter_videos .filter_video_wav
{
	position: absolute;
	top: 20px;
	left: 210px;
}

#filter_videos .filter_video_mid
{
	position: absolute;
	top: 20px;
	left: 310px;
}


#image-tooltip {
	position: absolute;
	overflow: hidden;
	font-size: 0;
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,1);
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,1);
	-webkit-transition: 0s; 
	transition: 0s; 
	padding: 5px;   	
	box-shadow: 0px 0px 10px rgba(0,0,0,1);
	opacity: 0; 
	display: none;
	min-height: 50px;
	min-width: 50px;
	max-width: 500px;
	max-height: 250px;
	background-color:white;
	z-index: 99999;		
	}
	
#image-tooltip #rg3fbpz-title {
	background: white;
}	

#image-tooltip #rg3fbpz-title[loading="1"]  {
	background: url(/images/loading_16x16.gif)  no-repeat center center;
}	


#content-tooltip {
	position: absolute;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,1);
	box-shadow: 0px 0px 10px rgba(0,0,0,1);
	height: 50px;
	width: 100px;
	background-color:white;
	z-index: 99999;		
	opacity: 0; 
	-webkit-transition: 0s; 
	transition: 0s; 
	}

#content-tooltip .content-label {
	height: 17px;
	width: 90px;
	padding: 5px;  	
	font-family: Arial,Helvetica,SunSans-Regular,Sans-Serif; 
	font-size: 12px;  
	cursor: pointer;
	}
#content-tooltip .content-label:hover {
	background-color: rgb(241,241,241);
	}

	
	

#masterHead   #mainMail{
	position: absolute;
	top: 0px;
	right: 0px;
	text-align: center;
	width: 36px;
	height: 36px;
	background: url(/images/email_open.png);
	cursor: pointer;
}

#masterHead   #mainMail:hover{
	background: url(/images/email_open_hover.png);
}

#masterHead   #mainMail   #buttonBigSdGetSatisfaction{	
}

#masterHead   #mainMail  #buttonBigSdGetSatisfaction:hover{	
}


#downloadBox 
{
	width: 775px;
	height: 580px;
	position: relative;
	border: 1px solid #ccc;
}

#downloadBox  .downloadBox_body
{
	position: relative;
	width: 775px;
	height: 580px;
}
#downloadBox .downloadBox_body .downloadBox_message
{
	position: absolute;
	top: 30px;
	left: 10px;
	width: 770px;
	height: 30px;
	color: black;
	font-family: Arial,Helvetica,SunSans-Regular,Sans-Serif; 
	font-size: 12pt;  
	font-weight:bold;
	text-align: center;
}
#downloadBox .downloadBox_body .downloadBox_text1
{
	position: absolute;
	top: 60px;
	left: 20px;
	width: 750px;
	color: black;
	font-family: Arial,Helvetica,SunSans-Regular,Sans-Serif; 
	font-size: 11pt;  
	font-weight:bold;
	text-align: left;
}
#downloadBox .downloadBox_body .downloadBox_img1
{
	position: absolute;
	top: 90px;
	left: 120px;
}
#downloadBox .downloadBox_body .downloadBox_img1 img
{
	width: 500px;
}
#downloadBox .downloadBox_body .downloadBox_text2
{
	position: absolute;
	top: 230px;
	left: 20px;
	width: 750px;
	color: black;
	font-family: Arial,Helvetica,SunSans-Regular,Sans-Serif; 
	font-size: 11pt;  
	font-weight:bold;
	text-align: left;
}
#downloadBox .downloadBox_body .downloadBox_img2
{
	position: absolute;
	top: 260px;
	left: 180px;
}
#downloadBox .downloadBox_body .downloadBox_img2 img
{
	width: 400px;
}
#downloadBox .downloadBox_body .downloadBox_checkbox
{
	position: absolute;
	bottom: 15px;
	left: 20px;
	color: #606060;
	font: 1.00em/1.4 Helvetica, Arial, Verdana, sans-serif;
	border: 1px solid #ccc;
	font-weight:bold;
	padding: 3px;
}
#downloadBox .downloadBox_body .downloadBox_checkbox span
{
	margin-left: 10px;
	cursor: pointer;
}

#downloadBox_Button{
	position: absolute;
	bottom: 15px;
	right: 5px;
	width:150px;
	height:22px;
	background-color: #ff0000;
	border-radius: 15px;
	border: 2px solid #ccc;
	text-align: center;
	cursor: pointer;
	padding-top: 2px;
	color: white;
	font-weight:bold;
}

#downloadBox_Button:hover{
	bottom: 14px;
	right: 4px;
	border: 3px solid #ccc;
	background-color: #ff0000;
}

/* ------------------  icon  ------------------------*/
#download_icon
{
	position: absolute;
	left: 0px;
	top: 0px;
	clear: both;
	width: 760px;
	height: 420px;
	overflow-x: hidden;
	overflow-y: auto;
	margin-left: 7px;
	margin-top: 7px;
	display: none;
	border: 1px solid #ccc;
}

div#download_icon_container
{
	height: 415px;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 759px;
}


div#download_icon_template
{
	display: none;
}

div.download_icon
{
	height: 175px;
	width: 180px;
	display: block; 
	float: left;
	overflow: hidden;
	cursor: default;
	border: 1px solid #f3f3f3;
}

div.download_icon .info_icon{
	display: table-cell;
	height: 121px;
	width: 166px;
	text-align: center;
	vertical-align: middle;
	position: relative;
	padding: 16 7 24 7;
	}
	
div.download_icon  .info_img{
	max-width: 160px;
	max-height: 120px;
	cursor: pointer;
}

div.download_icon .info_sel
{
	position: absolute;
	left:0px;
	top: 0px;
	width: 16px;
	height: 16px;
	cursor:pointer; 	
}
div.download_icon .info_sel[check="0"]
{
	background: url(icons/checks16.png);
	background-position: -16px -32px;
}
div.download_icon .info_sel[check="1"]
{
	background: url(icons/checks16.png);
	background-position: -0px -16px;
}
div.download_icon .info_sel[check="5"]
{
	background: url(icons/checks16.png);
	background-position: -32px -48px;
}

div.download_icon .info_size
{
	position: absolute;
	left:0px;
	top: 145px;
	width: 70px;
	height: 24px;
	font-family: Arial,Helvetica,SunSans-Regular,Sans-Serif; 
	font-size: 12px;  
	text-align: center;
}

div.download_icon .info_size[loading="1"]
{
	background: url( /images/small_loading.gif ) no-repeat;
	background-position: center center;
}


#messageBox
{
	width: 770px;
	height: 400px;
	position: relative;
	border: 1px solid #ccc;
}
#messageBox  .messageBox_body
{
	position: relative;
	width: 770px;
	height: 400px;
}
#noYoutubeMessage{
	position: absolute;
	top: 150px;
	left: 170px;
	text-align: center;
	color: red;
	font-weight: bold;
	font-size: 11pt;
	line-height: 2.0;
}

